<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.aptana.php.debug.core.launching.PHPExeLaunchConfigurationType">
<stringAttribute key="ATTR_FILE" value="/PHP_Syntax_Homework/1.Personal_Info/1.Personal_Info.php"/>
<stringAttribute key="ATTR_FILE_FULL_PATH" value="/var/www/html/PHP_Basics_Course_Homework/PHP_Syntax_Homework/1.Personal_Info/1.Personal_Info.php"/>
<stringAttribute key="ATTR_INI_LOCATION" value="/etc/php5/apache2/php.ini"/>
<stringAttribute key="ATTR_LOCATION" value="/usr/bin/php5"/>
<booleanAttribute key="ATTR_USE_SPECIFIC_FILE" value="true"/>
<stringAttribute key="com.aptana.php.debug.configurationDelegateClass" value="org2.eclipse.php.internal.debug.core.launching.XDebugExeLaunchConfigurationDelegate"/>
<stringAttribute key="com.aptana.php.debug.php_debugger_id" value="org2.eclipse.php.debug.core.xdebugDebugger"/>
<stringAttribute key="debugOutputEncoding" value="UTF-8"/>
<stringAttribute key="debugTransferEncoding" value="UTF-8"/>
<booleanAttribute key="firstLineBreakpoint" value="false"/>
<stringAttribute key="org2.eclipse.php.debug.core.PHP_Project" value="/PHP_Syntax_Homework"/>
<booleanAttribute key="org2.eclipse.php.debug.core.RunWithDebugInfo" value="true"/>
</launchConfiguration>
